* {
    margin: 0
}

h2 {
    font-family: PlayfairDisplay;
    font-size: 22px;
    color: rgb(65,61,75)
}

h3 {
    font-family: Roboto;
    font-size: 14px;
    color: rgb(65,61,75)
}

nav {
    color: red;
}

#hero-section {
    color: blue;
}

#our_story-section {
    color: green;
    width: 1600px;
    height: 380px;
}

.logo {
    vertical-align: top;
    margin: 30px 98px 0px 395px;
}

.text_our_story {
    font-family: Roboto-Light, arial;
    font-size: 14px;
    color: rgb(65,61,75);
    width: 530px;
    height: 262px;
    margin: 30px 332px 0px 0px;
    padding: 0px 0px 0px 2px;
}

.learn-more-button {
    font-family: HammersmithOne, arial;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0,224,208);
    border: 1px solid rgb(0,224,208);
    text-decoration: none;
    padding: 10px;
}

td {
    vertical-align: top;
}

#watch-section {
    color: fuchsia;
}

#expertise-section {
   
}

.expertise {
    width: 900px;
    text-align: center;
    font-family: Roboto-Light, arial;
    font-size: 14px;
    color: rgb(65,61,75);
    padding: 50px 350px 60px 350px;
}

#expertise_table td {
    padding: 20px;
    vertical-align: bottom;
}


#team-section {
    color: yellowgreen;
}

#contact_client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
}