* {
    margin: 0;
    padding: 0;
    border:1px solid red;
}

p {
    color: white;
}
li, a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

}
nav {
    color: white;
    font-family: 'Roboto black', sans-serif;
    text-transform: uppercase;
    display: inline;
    
    
}
.nav_hero_background {
    height: 500px;
    background-image: url(/images/bgk-header.png);
}

.nav_links {
    list-style: none;
    
}

.nav_links li {
    display: inline-block;
    padding:  0px 10px;
    vertical-align: middle;
    
    
}

.nav_links li a {
    color: white;
    list-style: none;
    text-decoration: none;
    
}
.nav_links li a:hover {
    color: #00e0d0;
    
}

.textcolor {
    background-image:linear-gradient(90deg,#00e0d0,#4aa3cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
   }

.logo {
    order: 0;

}
/*ul {
    margin: 30px auto;
    padding: 0 20px;
  }
*/

  header {
    background-image: url(/images/bgk-header.png);
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
    align-items: center;
    font-size: 30px;
    height: auto;
  }

header p {
    color: white;
    font-family: 'Roboto thin';
    margin-right: auto;


}

.logo {
    margin-right: 10px;

}

.our_story {
    height: 400px;
    text-align: center;
    padding: 50px;

}
.our_story p {
    padding: 20px 100px;
}
    


h1 {
    
    display: block;
    color: white;
    
}

button {
    background-color: Transparent;
    border: 2px #00e0d0 solid;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'HammersmithOne';
    color: #00e0d0;
    padding: 10px;
    border-radius: 5px;

}


#hero-section {
    color: blue;
}

#out_story-section {
    color: green;
}

#watch-section {
    color: fuchsia;
}

#team-section {
    color: yellowgreen;
}

#contact_client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
}

